.heading{
 text-align: center;
}
.login-wrapper{
 margin-top: 80px;
}
.common-inputs{
 height: 20px;
 max-width: 500px;
}
.label-email{
 margin-right:150px;
}
.label-password{
 margin-right:90px;
}
.login-policy{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
p{
 font-size: 12px;
}
span{
 color: rgb(81, 81, 168);
}